html, body{
	background-image: url(https://hd.unsplash.com/photo-1454165205744-3b78555e5572);
	background-size: 100%;
	background-attachment: fixed;
	max-width: 1920px;
	margin: 0 auto;
}


.firstdiv{
	width: auto;
	height: 85px;
	background-color: #1a1a1a;
	/*opacity: 0.9;*/
}

/* MEDIA QUERY TO HIDE BACKGROUND PICTURE  */
@media screen and (max-width: 1359px) {
    html, body {
        background-color: #2C3539;
        background-image: none;
    }
}

.divtwo{
	width: auto;
	height: auto;
	background-color: #1A1423;
	opacity: 0.8;
}

#quote{
	margin-top: 150px;
	margin-bottom: 150px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 50px;
	color: white;
}

.divthree{
	width: auto;
	height: auto;
	background-color: #684756;
	opacity: 0.9;
}

.box{
	width: 300px;
	height: auto;
	background-color: #1a1a1a;
	margin-top: 100px;
	padding: 10px;
	margin-bottom: 100px;
}

#boxheading{
	color: white;
	padding-top: 25px;
}

#hrone{
	width: 100px;
	border-width: 2px;
	border-color: red;
}

#boxtext{
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}

.divfour{
	width: auto;
	height: auto;
	background-color: #3D314A;
	opacity: 0.9;
}

#skills{
	color: white;
	font-weight: bolder;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
	border-color: black;
}

#hrtwo{
	width: 800px;
	border-width: 1px;
}

#skillstext{
	text-align: left;
	color: white;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 50px;
}

.footer{
	width: auto;
	height: 200px;
	background-color: black;
	/*opacity: 0.9;*/
}

#footertext{
	color: white;
	font-size: 25px;
}

.contact{
	margin-top: 50px;
}

#lkd{
	width: 50px;
	height: 50px;
	opacity: 0.9;
	margin-top: 50px;
}

.otherskills{
	width: auto;
	height: auto;
	background-color: #1a1a1a;
}



.leftbox{
	width: auto;
	height: 300px;
	background-color: white;
	margin-bottom: 20px;
}

.rightbox{
	width: auto;
	height: 300px;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

.skillul{
	padding:50px;
	font-size: 25px;
	font-weight: bolder;
}

#bannerpic{
	opacity: 0.8;
}

.social-bar {
	height: 60px;
	margin-top: 25px;
	/*float: left;
	padding-left: 500px;*/
}
