html {

	}

*{
	font-family: 'Laila', serif;
}







body{

	background-size: cover;
	background-color: black;
/*	background-image: url(../images/little_bsd.jpg);
    /*font-family: 'Concert One', cursive;
    background-size: 100%;
    background-repeat: no-repeat; 
    background-attachment: fixed;*/

}



.top-box{
	width: 100%;
	height: 200px;
	/*position: relative;*/
}

.top-box img{
	height: 500px;
	width: 100%;
}

.top-box p{
	color: white;
	position: absolute;
	top: 200px;
	width: 100%;
	left: 0;
	text-align: center;
	margin-top: 260px;
	font-size: 35px;
}

.float-text{
	color: white;
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	text-align: center;
	margin-top: -160px;
	font-family: 'Laila', serif;
}

.me{
	float: left;
	padding-bottom: 75px;
	padding-left: 466px;
	margin-top: 350px;
}


.low-nav{


}

.social-bar {
	height: 60px;
	margin-top: 25px;
	float: left;
	padding-left: 500px;

}


.body{
	color: #ffffff;
    font-family: "Arial Black",Gadget,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-transform: none;
    float: right;
}

@media only screen and (max-width: )










