html {

	}


body{
	background-size: cover;
	background-color: black;
	/*background-image: url("../images/05_DarkBacground.png")*/
    font-family: 'Concert One', cursive;
}




#main{
	width: 100%;
	height:auto;
	margin: 0 auto 2% auto;
	background-size: cover;
	background-position: 50% 20%;
	padding-top: 50vh;
	padding-bottom: 50vh;
}

#main h1{
	text-align: center;
	font-size: 3em;

}

nav{
	position: fixed;
	top:0px;
	left: 0px;
	margin:0 auto;
	width: 100%;
	background-color: #222;
	opacity: 0.52;

}

nav ul{
	list-style-type: none;
	text-align:center;
	float: left;
}

nav ul li{
	display: inline-block;
	text-align: center;
	padding: 20px;
	height: 2%;
}

nav ul li a{
	text-decoration: none;
	color: white;
	padding: 20px;
}
nav ul li a:hover, nav ul li a:active{
border-bottom: 2px solid #ccc;
padding-bottom: 8px;
}

.social-bar{
	height: 60px;
	margin-top: 25px;
	/*padding-left: 85%;*/
	float: right;
	padding-right: 30px;

}


.category1{
	background-color: transparent;
    clear: both;
    margin-bottom: 75px;
    padding-top: 50px;
    vertical-align: top;
}

.headline{
	padding-bottom: 15px;
    text-align: center;
    vertical-align: top;
    margin-top: 60px;
}


.title{
	color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 15px;
    text-align: center;
    text-transform: none;
    vertical-align: top;

}


hr {
	margin-bottom: 50px;
    margin-top: 0;
    width: 210px;
}


.me{
	float: left;
	padding-bottom: 75px
	padding-top: 0;

}

.about-info{
	float: right;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-top: 0;
    width: 750px;
}

.body{
	color: #ffffff;
    font-family: "Arial Black",Gadget,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-transform: none;
}

.tech{
	color: white

}


.skills{
	font-size: 28px;
	font-family: sans-serif;

}


/********************************************PORTFOLIO****************************************************************/

/*.header-left2{
	background-color: transparent;
	height:210px;
	width: 300px;

}*/

.box{
	margin-top: 90px;
}

./*side-content{
	color: white;
	font-family: sans-serif;
}*/

.content{
	padding-left: 0px;
	text-align: center;
	color: #ffffff;

}

.Mentoku-Ramen{
font-family: sans-serif;
letter-spacing: 0.2em;
color: #a9a9a9
text-decoration: none;
}

.description{
	font-family: sans-serif;
	letter-spacing: 0.1em;
	font-size: 28px;
	color: white;

}


.home{
	padding-left: 0px

}

.content2{
	text-align: center;
}








